[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
Delegate=yes
RestartSec=5s
Restart=always
KillMode=process
TasksMax=infinity
TimeoutStartSec=0
LimitCORE=infinity
LimitNPROC=infinity
LimitNOFILE=1048576
ExecStartPre=-/sbin/modprobe overlay
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStart=/usr/local/bin/k3s server \
                        '--disable-selinux' \
                        '--no-deploy=traefik' \
                        '--no-deploy=servicelb' \
                        '--flannel-backend=none' \
                        '--disable-network-policy' \
                        '--https-listen-port=6443' \
                        '--node-label=kargo-master' \
                        '--node-name={{ kargo_name_n01 }}' \
                        '--cluster-cidr={{ cluster_cidr }}' \
                        '--bind-address={{ kargo_addr_n01 }}' \
                        '--node-external-ip={{ kargo_addr_n01 }}'
